body {
    background-color: #0f0f0f; /* Fond sombre */
    color: #e0e0e0; /* Texte clair */
    font-family: Arial, sans-serif;
}

pre, code {
    background-color: #2e2e2e !important; /* Fond pour le code */
    color: #ffffff !important; /* Couleur du texte du code */
    padding: 10px;
    border-radius: 1px; /* Coins arrondis */
}

code {
    padding: 1px 4px; /* Un peu de padding pour le code en ligne */
    border-radius: 10px; /* Coins arrondis */
}

h1, h2, h3 {
    color: #f8f8f2; /* Couleur des titres */
}

a {
    color: #66d9ef; /* Couleur des liens */
}

