body {
    background-color: #1a1a1a; /* 0f0f0f Fond sombre */
    color: #e0e0e0; /* Texte clair */
    font-family: Arial, sans-serif;
}

pre, code {
    background-color: #000000 !important; /* Fond pour le code */
    color: #ffffff !important; /* Couleur du texte du code */
    border-radius: 0px !important; /* Coins arrondis */
}

h1, h2, h3 {
    color: #f8f8f2; /* Couleur des titres */
}

a {
    color: #66d9ef; /* Couleur des liens */
}
