body {
    background-color: #0f0f0f; /* Fond sombre */
    color: #e0e0e0; /* Texte clair */
    font-family: Arial, sans-serif;
}


pre, code {
    background-color: #2e2e2e; /* Fond pour le code */
    color: #ffffff; /* Couleur du texte du code */
    padding: 10px;
    border-radius: 10px; /* Coins arrondis uniquement pour les blocs de code */
    border: 1px solid #3c3c3c; /* Ajout d'une bordure subtile pour mieux les démarquer */
}

code {
    padding: 1px 4px; /* Padding pour le code en ligne */
    border-radius: 5px; /* Coins arrondis pour le code en ligne */
}

h1, h2, h3 {
    color: #f8f8f2; /* Couleur des titres */
}


a {
    color: #66d9ef; /* Couleur des liens */
}
