/* Mise en forme */

body {
    background-color: #121212; /* Fond sombre */
    color: #e0e0e0; /* Texte clair */
    font-family: Arial, sans-serif; /* Police de caractère */
}

h1, h2 {
    color: #ffffff; /* Couleur des titres */
}

h3 {
    color: #D3D3D3; /* Couleur des sous-titres */
}

a {
    color: #40B3E8; /* Liens hypertextes */
}

pre, code {
    background-color: #000000 !important; /* Fond pour le code */
    color: #ffffff !important; /* Couleur du texte du code */
    border-radius: 0px !important; /* Coins arrondis */
    border: 0.5px solid #ffffff; /* Bordure blanche */
}

/* Styles pour les boutons */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Prendre toute la largeur du conteneur */
    height: 48px; /* Hauteur du bouton */
    background-color: transparent; /* Pas de couleur de fond */
    color: white; /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement */
    border: 2px solid #ffffff; /* Contour blanc */
    border-radius: 7px; /* Coins arrondis */
    margin: 5px 0; /* Marges verticales */
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transition de couleur et transform */
    font-size: 17px; /* Taille de police plus grande */
    font-weight: 500; /* Poids de police moyen */
    text-transform: uppercase; /* Texte en majuscules pour un look moderne */
    letter-spacing: 1px; /* Espacement des lettres */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 1px 5px rgba(255, 255, 255, 0.5); /* Ombre externe et interne */
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Couleur au survol (semi-transparent) */
    color: white; /* Garder la couleur blanche au survol */
    text-decoration: none; /* Pas de soulignement au survol */
    transform: scale(1.01); /* Légère augmentation de taille au survol */
}

.icon {
    margin-right: 10px; /* Espace entre l'icône et le texte */
    font-size: 15px; /* Taille de l'icône légèrement plus grande */
}