body {
    background-color: #121212; /* Fond sombre */
    color: #e0e0e0; /* Texte clair */
}

pre, code {
    background-color: #1e1e1e; /* Fond sombre pour le code */
    color: #dcdcdc; /* Couleur claire pour le code */
}

h2 {
    color: #FFEC8B; /* Jaune doré pour les titres de sections */
}

h3 {
    color: #D3D3D3; /* Vert clair pour les sous-titres */
}

a {
    color: #87CEEB; /* Couleur des liens */
}
