body {
    background-color: #121212; /* Fond sombre */
    color: #e0e0e0; /* Texte clair */
}

pre, code {
    background-color: #1e1e1e; /* Fond sombre pour le code */
    color: #dcdcdc; /* Couleur pour le code */
}

h2 {
    color: #FFCB61; /* Les titres de sections */
}

h3 {
    color: #D3D3D3; /* Les sous-titres */
}

a {
    color: #40B3E8; /* Liens hypertextes */
}
